<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Hypertension Master Card</title>
    <link rel="stylesheet" href="/touchscreentoolkit/lib/stylesheets/touch-fancy.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
    <script type="text/javascript" src="/javascripts/htn.js"></script>
</head>
<style type="text/css">
    body{
        font-size: 0.9em;
        background-color:yellow;
    }
    #head_table td{
        text-align: left;
        padding-left: 1%;
    }
  
    .card{
        margin-top:2%;
        border: 1px solid;
        border-collapse: collapse;
    }
    .card th, .card td  {
        border: 1px solid;
        font-size: 0.9em;
        padding: 0.4em;
        text-align: left;
        
    }
    td.rotate {
      /* Something you can count on */
      height: 140px;
      white-space: nowrap;
    }

    td.rotate > div {
      transform: 
        /* Magic Numbers */
        translate(0px, 51px)
        /* 45 is really 360 - 90 */
        rotate(270deg);
      width: 30px;
    }
    td.rotate > div > span {
      padding: 5px 10px;
    }
    .circle{
        display: block;
        width: 23px;
        height: 23px;
        padding: 2%;
        
        text-align: center;
        border-radius: 50%;
    }
    .square{
        display: block;
        width: 13px;
        height: 13px;
        border: 2px solid black;
        padding: 2%;
        text-align: center;
        border-radius: 20%;

    }
    
</style>
<body oncontextmenu="return false;" style="margin: 0px;">
<div id="divMain" style="background:#ffff4d; overflow: auto; height: calc(100vh - 80px); padding-left:1%; padding-right:1%">
<table width="100%" id="head_table" style="margin-top:2%">
    <tr >
        <th style="text-align:left">NCD Patient Card<br/><span style="font-size:0.8em">Yellow Card</span></th>
        <th>Diabetes</th>
        <td>Version 1</td>
        <td>Transfer-In Date</td>
        <td style="border:1px solid black;width:12%" id="transfer_in_date"></td>
        <td>NCD Reg no</td>
        <td style="border:1px solid black;width:12%" id="ncd_reg_no"></td>
        <td>Year</td>
        <td style="border:1px solid black;width:12%" id="year"></td>
    </tr>

</table>
<table width="100%" class="card">
    <tr >
        <th colspan="4">Patient / Gardian Details</th>
        <th colspan="7">Patient Overview</th>
    </tr>
    <tr>
        <td>Patient Name</td>
        <td colspan="3" id="patient_name"></td>
        <td rowspan="2">Diagnoses</td>
        <td style="width:15%">Type 1 DM <span id="type_1" class="square" style="float:right;"></span></td>
        <td style="width:15%"> Type 2 DM <span id="type_2" class="square" style="float:right"></span></td>
        <td>Date: <span id="dm_daigosis"></span></td>
        <td rowspan="2">Family History</td>
        <td colspan="2">Diabetes <span id="family_history_of_dm" class="square" style="float:right;"></span></td>
       
    </tr>
    <tr>
        <td>Sex, DOB</td>
        <th><span class="circle" id="male">M</span></th>
        <th><span class="circle" id="female">F</span></th>
        <td>DOB/Age :  <span id="dob"></span></td>
        <td colspan="2">Hypertension <span id="history_of_htn" class="square" style="float:right;"></span></td>
        <td id="history_of_htn_year">Date:</td>
        
        <td colspan="2">Hypertension<span id="family_history_of_htn" class="square" style="float:right;"></span></td>
    </tr>
    <tr>
        <td rowspan="2">Physical Adress</td>
        <td colspan="3"></td>
       <td colspan="7"></td>
    </tr>
    <tr>
        <td colspan="3"> <span id="address"></span>
        <td rowspan="6">Patient History & Complications</td>
        <th>HIV Status : <span class="circle" id="r" style="float:right">R</span> <span class="circle" id="nr" style="float:right; margin-right:20%;">NR</span></th>
        <td><b>ART Start Date:</b> <span id="date_antiretrovirals_started"></span></td>
        <td><span id="tb" class="square" style="float:left;margin-right:10%"></span>TB</td><td colspan="2"> Year(s): <span id="tb_year"></span></td>
    </tr>
    <tr>
        <td rowspan="2">Patient Phone</td>
        <td colspan="3" rowspan="2"></td>
        <td rowspan="2"><span id="myocardial_infarction" class="square" style="float:left;margin-right:10%"></span>Cardiovascular Disease <i>(e.g. heart attack, ischemic heart disease, CCF)</i></td>
        <td rowspan="2">Date: <span id="myocardial_infarction_date"></span></td>
        <td><span id="peripheral_vascular_disease" class="square" style="float:left;margin-right:10%"></span>PVD <i>e.g. ulcers, gangrene</i></td>
        <td colspan="3" id="peripheral_vascular_disease_date"></td>
    </tr>
    <tr>
        <td><span id="stroke" class="square" style="float:left;margin-right:10%"></span>Stroke / TIA</td>
        <td colspan="3" id="stroke_date"></td>
    </tr>
    <tr>
        <td>Guardian Name</td>
        <td colspan="3" id="guardian_name"></td>
        <td><span id="retinopathy" class="square" style="float:left;margin-right:10%"></span>Retinopathy</td>
        <td>Date: <span id="retinopathy_dates"></span></td>
        <td><span id="nueropathy" class="square" style="float:left;margin-right:10%"></span>Neuropathy</td>
        <td colspan="3"></td>
    </tr>
    <tr>
        <td>Guardian Phone</td>
        <td colspan="2" id="gardian_phone_number"></td>
        <td>Relation to patient: <span id="relation_to_patient"></span></td>
        <td><span id="renal_disease" class="square" style="float:left;margin-right:10%"></span>Renal disease</td>
        <td>Date:</td>
        <td><span id="sexual_dysfunction" class="square" style="float:left;margin-right:10%"></span>Sexual dysfunction</td>
        <td colspan="3">Date:</td>
    </tr>
    <tr>
        <td>Agrees to FUP</td>
        <td>N Y</td>
        <td colspan="2"></td>
        <th>Discharge Outcome:</th><td colspan="3"> <span id="alive">Alive</span> /<span id="dead"> Dead</span> / <span id="treatment_stopped">Stop Treatment </span> / <span id="transfer_out">Transfer Out</span></td><td colspan="2">Date : <span id="outcome_date"></span></td>
    </tr>
</table>
<table width="100%" class="card">
    <thead>
    <tr>
        <td rowspan="2">Visit Date</td>
        <td rowspan="2">WT (kg)</td>
        <td colspan="3">BMI</td>
        <td rowspan="2">BP</td>
        <td rowspan="2">PR</td>
        <td colspan="5">Blood Sugar (mg/dL)</td>
        <td rowspan="2">CV Risk</td>
        <td colspan="3">Foot Check</td>
        <td colspan="2">Insulin</td>
        <td colspan="2">Orals</td>
        <td colspan="4">Anti-hypertensives</td>
        <td rowspan="2" class="rotate"><div><span>Other Treatments</span></div></td>
        <td rowspan="2">Comments</td>
        <td rowspan="2">Next Appointment Date</td>
    </tr>
    <tr>
        <td class="rotate"><div><span>< 19</span></div></td>
        <td class="rotate"><div><span> 19 - 24.9</span></div></td>
        <td class="rotate"><div><span> > 25 </span></div></td>
        <td class="rotate"><div><span>Fasting </span></div></td>
        <td class="rotate"><div><span>Random</span></div></td>
        <td class="rotate"><div><span>Alcohol</span></div></td>
        <td class="rotate"><div><span># of F/V portions</span></div></td>
        <td class="rotate"><div><span>exercise days / wk of 30 min</span></div></td>
        <td class="rotate"><div><span>Neuropathy / PVD</span></div></td>
        <td class="rotate"><div><span>Deformities</span></div></td>
        <td class="rotate"><div><span>Ulcers</span></div></td>
        <td class="rotate"><div><span>Long Acting</span></div></td>
        <td class="rotate"><div><span>Short Acting</span></div></td>
        <td class="rotate"><div><span>M</span></div></td>
        <td class="rotate"><div><span>G</span></div></td>
        <td class="rotate"><div><span>Diuretic</span></div></td>
        <td class="rotate"><div><span>CCB</span></div></td>
        <td class="rotate"><div><span>ACE-I</span></td>
        <td class="rotate"><div><span>BB</span></div></td>
    </tr>
    </thead>
    <tbody id="visit_body">
        
    </tbody>
<table width="100%" style="margin-bottom:2%;margin-top:2%">
    <tr>
        <td>Notes</td>
        <td colspan="2"></td>
    </tr>
    <tr >
        <td colspan="3" style="border-bottom: 1px dotted;height:25px"></td>
    </tr>
    <tr >
        <td colspan="3" style="border-bottom: 1px dotted;height:25px"></td>
    </tr>
    <tr >
        <td colspan="3" style="border-bottom: 1px dotted;height:25px"></td>
    </tr>
    <tr >
        <td colspan="3" style="border-bottom: 1px dotted;height:25px"></td>
    </tr>
</table>
<div width="100" style="margin-bottom:5%">
<table class="card" style="width:48%;float:left;margin-top:0%;margin-right:2%">
    <tr>
        <th colspan="3">Peak Flow / Spirometry</th><th colspan="5">Annual Monitoring</th>
    </tr>
    <tr>
        <td>Date</td>
        <td>HbA1C (see criteria)</td>
        <td>Proteinuria</td>
        <td>ECG</td>
        <td>Creatinine</td>
        <td>HIV test</td>
        <td>Lipid profile</td>
        <td>Fundoscopy</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
     <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
     <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
<table class="card" style="width:48%;margin-top:2%">
    <tr><th colspan="5">Hospitalization History for DM and / or HTN</th></tr>
    <tr>
        <td>Date</td>
        <td>Length of Stay (days)</td>
        <td>Reason for Admission</td>
        <td>Discharge Diagnosis</td>
        <td>Discharge Medications</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
</div>
</div>
<script type="text/javascript">

    loadCardDashboard();
   
</script>
<div style="background-color: rgb(51, 51, 51); height: 80px; overflow: hidden; padding: 0px;">&nbsp;
    <button class="green" style="float: right; margin: 10px 15px 15px; min-width: 140px;" id="nextButton"
            onclick="window.parent.dashboard.exitNavPanel();">
        Finish
    </button>
</div>
</body>

</html>