<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>DM Master Card</title>
    <link rel="stylesheet" href="/touchscreentoolkit/lib/stylesheets/touch-fancy.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
</head>
<style type="text/css">
    body{
        font-size: 0.9em;
    }
    #head_table td{
        text-align: left;
        padding-left: 1%;
    }
  
    .card{
        margin-top:2%;
        border: 1px solid;
        border-collapse: collapse;
    }
    .card th, .card td  {
        border: 1px solid;
        font-size: 0.9em;
        padding: 0.4em;
        text-align: left;
        
    }
    td.rotate {
      /* Something you can count on */
      height: 140px;
      white-space: nowrap;
    }

    td.rotate > div {
      transform: 
        /* Magic Numbers */
        translate(0px, 51px)
        /* 45 is really 360 - 90 */
        rotate(270deg);
      width: 30px;
    }
    td.rotate > div > span {
      padding: 5px 10px;
    }
    
</style>
<body oncontextmenu="return false;" style="margin: 0px;">
<div id="divMain" style="background-color: rgb(255, 255, 255); overflow: auto; height: calc(100vh - 80px); padding-left:1%; padding-right:1%">
<table width="100%" id="head_table" style="margin-top:2%">
    <tr >
        <td>NCD Patient Card<br/><span style="font-size:0.8em;background:yellow">Yellow Card</span></td>
        <td>Hypertension & Diabetes</td>
        <td>Version 1</td>
        <td>Transfer-In Date</td>
        <td style="border:1px solid black;width:12%"></td>
        <td>NCD Reg no</td>
        <td style="border:1px solid black;width:12%"></td>
        <td>Year</td>
        <td style="border:1px solid black;width:12%"></td>
    </tr>

</table>
<table width="100%" class="card">
    <tr >
        <th colspan="4">Patient / Gardian Details</th>
        <th colspan="6">Patient Overview</th>
    </tr>
    <tr>
        <td>Patient Name</td>
        <td colspan="3"></td>
        <td rowspan="2">Diagnoses</td>
        <td>Type 1 DM Type 2 DM</td>
        <td>Date:</td>
        <td rowspan="2">Family History</td>
        <td>Diabetes</td>
        <td></td>
    </tr>
    <tr>
        <td>Sex, DOB</td>
        <th>M</th>
        <th>F</th>
        <td>DOB/Age</td>
        <td>Hypertension</td>
        <td>Date:</td>
        
        <td>Hypertension</td>
        <td></td>
    </tr>
    <tr>
        <td rowspan="2">Physical Adress</td>
        <td colspan="3"></td>
       <td colspan="7"></td>
    </tr>
    <tr>
        <td colspan="3">Near:</td>
        <td rowspan="6">Patient History & Complications</td>
        <td>HIV R NR</td>
        <td>ART Start Date:</td>
        <td>TB </td><td colspan="2"> Year:</td>
    </tr>
    <tr>
        <td rowspan="2">Patient Phone</td>
        <td colspan="3" rowspan="2"></td>
        <td rowspan="2">Cardiovascular Disease <i>(e.g. heart attack, ischemic heart disease, CCF)</i></td>
        <td rowspan="2">Date:</td>
        <td>PVD <i>e.g. ulcers, gangrene</i></td>
        <td colspan="3"></td>
    </tr>
    <tr>
        <td>Stroke / TIA</td>
        <td colspan="3"></td>
    </tr>
    <tr>
        <td>Guardian Name</td>
        <td colspan="3"></td>
        <td>Retinopathy</td>
        <td>Date:</td>
        <td>Neuropathy</td>
        <td colspan="3"></td>
    </tr>
    <tr>
        <td>Guardian Phone</td>
        <td colspan="2"></td>
        <td>Relation to patient</td>
        <td>Renal disease</td>
        <td>Date:</td>
        <td>Sexual dysfunction</td>
        <td colspan="3">Date:</td>
    </tr>
    <tr>
        <td>Agrees to FUP</td>
        <td>N Y</td>
        <td colspan="2"></td>
        <td colspan="6">Outcome: Discharge / Default /Stop Tx /Transfer Out Date</td>
    </tr>
</table>
<table width="100%" class="card">
    <tr>
        <td rowspan="2">Visit Date</td>
        <td rowspan="2">WT (kg)</td>
        <td colspan="3">BMI</td>
        <td rowspan="2">BP</td>
        <td rowspan="2">PR</td>
        <td colspan="5">Blood Sugar (mg/dL)</td>
        <td rowspan="2">CV Risk</td>
        <td colspan="3">Foot Check</td>
        <td colspan="2">Insulin</td>
        <td colspan="2">Orals</td>
        <td colspan="4">Anti-hypertensives</td>
        <td rowspan="2">Other Treatments</td>
        <td rowspan="2">Comments</td>
        <td rowspan="2">Next Appointment Date</td>
    </tr>
    <tr>
        <td>< 19</td>
        <td> 19 - 24.9</td>
        <td> > 25</td>
        <td>Fasting</td>
        <td>Random</td>
        <td>Alcoho</td>
        <td># of F/V portions</td>
        <td>exercise days / wk of 30 min</td>
        <td>Neuropathy / PVD</td>
        <td>Deformities</td>
        <td>Ulcers</td>
        <td>Long Acting</td>
        <td>Short Acting</td>
        <td>M</td>
        <td>G</td>
        <td>Diuretic</td>
        <td>CCB</td>
        <td>ACE-I</td>
        <td>BB</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
<table width="100%" style="margin-bottom:2%;margin-top:2%">
    <tr>
        <td>Notes</td>
        <td colspan="2"></td>
    </tr>
    <tr >
        <td colspan="3" style="border-bottom: 1px dotted;height:25px"></td>
    </tr>
    <tr >
        <td colspan="3" style="border-bottom: 1px dotted;height:25px"></td>
    </tr>
    <tr >
        <td colspan="3" style="border-bottom: 1px dotted;height:25px"></td>
    </tr>
    <tr >
        <td colspan="3" style="border-bottom: 1px dotted;height:25px"></td>
    </tr>
</table>
<div width="100" style="margin-bottom:5%">
<table class="card" style="width:48%;float:left;margin-top:0%;margin-right:2%">
    <tr>
        <th colspan="3">Peak Flow / Spirometry</th><th colspan="5">Annual Monitoring</th>
    </tr>
    <tr>
        <td>Date</td>
        <td>HbA1C (see criteria)</td>
        <td>Proteinuria</td>
        <td>ECG</td>
        <td>Creatinine</td>
        <td>HIV test</td>
        <td>Lipid profile</td>
        <td>Fundoscopy</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
     <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
     <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
<table class="card" style="width:48%;margin-top:2%">
    <tr><th colspan="5">Hospitalization History for DM and / or HTN</th></tr>
    <tr>
        <td>Date</td>
        <td>Length of Stay (days)</td>
        <td>Reason for Admission</td>
        <td>Discharge Diagnosis</td>
        <td>Discharge Medications</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
</div>
</div>
<script type="text/javascript">
        
</script>
<div style="background-color: rgb(51, 51, 51); height: 80px; overflow: hidden; padding: 0px;">&nbsp;
    <button class="green" style="float: right; margin: 10px 15px 15px; min-width: 140px;" id="nextButton"
            onclick="window.parent.dashboard.exitNavPanel();">
        Finish
    </button>
</div>
</body>

</html>