<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Integrated Report</title>
    <link rel="stylesheet" href="/touchscreentoolkit/lib/stylesheets/touch-fancy.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
</head>
<style type="text/css">
    .card {
        border: 2px solid black;
    }
    .card{
        margin-top:2%;
        border: 1px solid;
        border-collapse: collapse;
        width: 100%;
    }
    .card thead{
        border: 1px solid;
    }
    .card th{
        background: #6281a7;
        color: #ffffff;


    }
    .card th, .card td  {
        border: 1px solid;
        font-size: 0.9em;
        padding: 0.4em;
        
    }
    .card td{
        text-align: left;
        width: 30%;
    }
</style>
<body oncontextmenu="return false;" style="margin: 0px;">
<div align="center"
     style="font-size: 2.3em; background-color: rgb(98, 129, 167); color: rgb(238, 238, 238); padding: 15px;">
        Chronic Care Clinic : Integrated CCC Cohort Report<br/>
        <font id="facility">Facility Name<font>
</div>
<div style="overflow: auto; height: calc(83vh - 80px); padding-left:1%; padding-right:1%">

<table class="card">
<table style="border-collapse: collapse;" border="1" cellpadding="10" width="100%">
    <tr>
        <th colspan = "2" style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;">
            Patients Registered
        </th>
        <th style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;">
            New
        </th>
        <th style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;">
            Cumulative
        </th>
    </tr>
<tbody>
    <tr>
        <th style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            Gender
        </th>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            Male
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;"id="new_registered_male" align="center">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="cumulative_registered_male" align="center">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            Female
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="new_registered_female" align="center">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="cumulative_registered_female" align="center">
            &nbsp;
        </td>
    </tr>
</tbody>
</table>
<table class="card">
    <tbody>
        <tr>
        <th style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            Age groups in year
        </th>
         <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            0-14
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%; text-align: center" id="new_registered_under_14">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%; text-align: center" id="cumulative_registered_under_14">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            15-44
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%; text-align: center" id="new_registered_between_14_to_44" align="center">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%; text-align: center" id="cumulative_registered_between_14_to_44" align="center">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            45-64
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%; text-align: center" id="new_registered_between_45_to_64" align="center">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%; text-align: center" id="cumulative_registered_between_45_to_64" align="center">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            65 and above
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%; text-align: center" id="new_registered_above_64" align="center">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%; text-align: center" id="cumulative_registered_above_64" align="center">
            &nbsp;
        </td>
    </tr>
    </tbody>
    </table>
<table class="card">
    <tbody>
    <tr>
        <th style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            Disease
        </th>
         <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
           Diabetes Mellitus (DM) alone
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%; text-align: center" id="new_diabetes_alone" align="center">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="cumulative_registered_male" align="center">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            Hypertension Alone
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="new_registered_female" align="center">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="cumulative_registered_female" align="center">
            &nbsp;
        </td>
        </tr>
    <tr>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            Diabetes and Hypertension
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="new_registered_female" align="center">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="cumulative_registered_female" align="center">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            Asthma
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="new_registered_female" align="center">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="cumulative_registered_female" align="center">
            &nbsp;
        </td>
    </tr>
        <tr>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            Epilepsy
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="new_registered_female" align="center">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="cumulative_registered_female" align="center">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            Other
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="new_registered_female" align="center">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="cumulative_registered_female" align="center">
            &nbsp;
        </td>
    </tr>
    </tbody>
    </table>

<table class="card">
    <tbody>
    <tr>
        <th style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            Patient Outcome at the end of quarter
        </th>
         <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
           Attended the clinic
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #ffffff; width: 25%;"id="new_registered_male" align="center">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="cumulative_registered_male" align="center">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            Did not attend in quarter
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #ffffff; width: 25%;" id="new_registered_female" align="center">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="cumulative_registered_female" align="center">
            &nbsp;
        </td>
        </tr>
    <tr>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            Stopped treatment
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #ffffff; width: 25%;" id="new_registered_female" align="center">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="cumulative_registered_female" align="center">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            Date of stopping treatment
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #ffffff; width: 25%;" id="new_registered_female" align="center">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="cumulative_registered_female" align="center">
            &nbsp;
        </td>
    </tr>
        <tr>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            Transfer out to another facility
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #ffffff; width: 25%;" id="new_registered_female" align="center">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="cumulative_registered_female" align="center">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            Date of transfer out
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #ffffff; width: 25%;" id="new_registered_female" align="center">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="cumulative_registered_female" align="center">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            Died
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #ffffff; width: 25%;" id="new_registered_female" align="center">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="cumulative_registered_female" align="center">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            Date of death
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #ffffff; width: 25%;" id="new_registered_female" align="center">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="cumulative_registered_female" align="center">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            Lost to follow up
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #ffffff; width: 25%;" id="new_registered_female" align="center">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="cumulative_registered_female" align="center">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            Date of loss to follow up
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="new_registered_female" align="center">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="cumulative_registered_female" align="center">
            &nbsp;
        </td>
    </tr>
</tbody>
</table>

<table class="card">
    <tbody>
    <tr>
        <th style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            Co-morbid conditions
        </th>
         <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
           Obese(BMI >= 30)
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;"id="new_registered_male" align="center">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="cumulative_registered_male" align="center">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            Current Smoker
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="new_registered_female" align="center">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="cumulative_registered_female" align="center">
            &nbsp;
        </td>
        </tr>
    <tr>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            Drinks Alcohol
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="new_registered_female" align="center">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="cumulative_registered_female" align="center">
            &nbsp;
        </td>
    </tr>
    </tbody>
    </table>
    <table class="card">
    <thead>
        <tr>
            <th colspan="4" style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">Measure of disease control</th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <th style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            Hypertension alone
        </th>
         <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
           Attended the clinic in the quarter
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;"id="new_registered_male" align="center">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="cumulative_registered_male" align="center">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            Medication prescribed
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="new_registered_female" align="center">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="cumulative_registered_female" align="center">
            &nbsp;
        </td>
        </tr>
    <tr>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            Blood pressure measured
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="new_registered_female" align="center">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="cumulative_registered_female" align="center">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            Blood pressure controlled (BP <= 140/90)
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="new_registered_female" align="center">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="cumulative_registered_female" align="center">
            &nbsp;
        </td>
    </tr>
    </tbody>
    </table>
<table class="card">
    <tbody>
    <tr>
        <th style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            Hypertension and Diabetes
        </th>
         <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
           Attended the clinic in the quarter
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;"id="new_registered_male" align="center">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="cumulative_registered_male" align="center">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            Medication prescribed
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="new_registered_female" align="center">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="cumulative_registered_female" align="center">
            &nbsp;
        </td>
        </tr>
    <tr>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            Blood pressure measured
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="new_registered_female" align="center">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="cumulative_registered_female" align="center">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            Blood glucose measured
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="new_registered_female" align="center">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="cumulative_registered_female" align="center">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            Blood glucose controlled (FBG < 7.0mmol/l)
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="new_registered_female" align="center">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="cumulative_registered_female" align="center">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            Blood pressure controlled (BP <= 140/90)
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="new_registered_female" align="center">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="cumulative_registered_female" align="center">
            &nbsp;
        </td>
    </tr>
    </tbody>
    </table>
<table class="card">
    <tbody>
    <tr>
        <th style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            Diabetes Alone
        </th>
         <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
           Attended the clinic in the quarter
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;"id="new_registered_male" align="center">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="cumulative_registered_male" align="center">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            Medication prescribed
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="new_registered_female" align="center">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="cumulative_registered_female" align="center">
            &nbsp;
        </td>
        </tr>
    <tr>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            Blood glucose measured
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="new_registered_female" align="center">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="cumulative_registered_female" align="center">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            Blood glucose controlled (FBG < 7.0mmol/l)
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="new_registered_female" align="center">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="cumulative_registered_female" align="center">
            &nbsp;
        </td>
    </tr>
    </tbody>
    </table>
<table class="card">
    <tbody>
     <tr>
        <th style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            Asthma Alone
        </th>
         <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
           Attended the clinic in the quarter
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;"id="new_registered_male" align="center">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="cumulative_registered_male" align="center">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            Medication prescribed
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="new_registered_female" align="center">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="cumulative_registered_female" align="center">
            &nbsp;
        </td>
        </tr>
    <tr>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            No asthma attack in the last three months
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="new_registered_female" align="center">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="cumulative_registered_female" align="center">
            &nbsp;
        </td>
    </tr>
    </tbody>
    </table>
<table class="card">
    <tbody>
     <tr>
        <th style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            Epilepsy Alone
        </th>
         <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
           Attended the clinic in the quarter
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;"id="new_registered_male" align="center">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="cumulative_registered_male" align="center">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            Medication prescribed
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="new_registered_female" align="center">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="cumulative_registered_female" align="center">
            &nbsp;
        </td>
        </tr>
    <tr>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            No seizure in last three months
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="new_registered_female" align="center">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="cumulative_registered_female" align="center">
            &nbsp;
        </td>
    </tr>
    </tbody>
    </table>

<table class="card">
    <tbody>
     <tr>
        <th style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            Disease Complications
        </th>
         <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
           Stroke
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;"id="new_registered_male" align="center">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="cumulative_registered_male" align="center">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            Myocardial infraction
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="new_registered_female" align="center">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="cumulative_registered_female" align="center">
            &nbsp;
        </td>
        </tr>
    <tr>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            Cardiovascular disease
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="new_registered_female" align="center">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="cumulative_registered_female" align="center">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            Blindness
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="new_registered_female" align="center">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="cumulative_registered_female" align="center">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            Burns
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="new_registered_female" align="center">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="cumulative_registered_female" align="center">
            &nbsp;
        </td>
    </tr>
    </tbody>
    </table>
<table class="card">
    <thead>
        <tr>
            <th colspan="4" style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;">Drugs</th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <th style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            Anti-diabetic
        </th>
         <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
           Metformin
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;"id="new_registered_male" align="center">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="cumulative_registered_male" align="center">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            Glibenclamide
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="new_registered_female" align="center">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="cumulative_registered_female" align="center">
            &nbsp;
        </td>
        </tr>
    <tr>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            Insuline
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="new_registered_female" align="center">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="cumulative_registered_female" align="center">
            &nbsp;
        </td>
    </tr>
    </tbody>
    </table>
<table class="card">
    <tbody>
        <tr>
        <th style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            Anti-hypertensive
        </th>
         <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
           Hydrochlorothiazide
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;"id="new_registered_male" align="center">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="cumulative_registered_male" align="center">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            Amlodipine 
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="new_registered_female" align="center">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="cumulative_registered_female" align="center">
            &nbsp;
        </td>
        </tr>
    <tr>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            Captopril 
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="new_registered_female" align="center">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="cumulative_registered_female" align="center">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            Other 
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="new_registered_female" align="center">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="cumulative_registered_female" align="center">
            &nbsp;
        </td>
    </tr>
    </tbody>
    </table>

<table class="card">
    <tbody>
    <tr>
        <th style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            Anti-asthma 
        </th>
         <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
           Salbutamol Inhaler 
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;"id="new_registered_male" align="center">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="cumulative_registered_male" align="center">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            Steroid Inhaler  
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="new_registered_female" align="center">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="cumulative_registered_female" align="center">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            Other
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="new_registered_female" align="center">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="cumulative_registered_female" align="center">
            &nbsp;
        </td>
    </tr>
    </tbody>
    </table>

<table class="card">
    <tbody>
    <tr>
        <th style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            Anti-epilepsy
        </th>
         <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
           Phernobabitone 
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;"id="new_registered_male" align="center">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="cumulative_registered_male" align="center">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            Phenytoin 
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="new_registered_female" align="center">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="cumulative_registered_female" align="center">
            &nbsp;
        </td>
        </tr>
    <tr>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;">
            Carbamazepine 
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="new_registered_female" align="center">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-left: 1px solid #305d97; border-bottom: 1px solid #305d97; width: 25%;" id="cumulative_registered_female" align="center">
            &nbsp;
        </td>
    </tr>
    </tbody>
    </table>
</table>
</div>
<div style="background-color: rgb(51, 51, 51); height: 80px; overflow: hidden; padding: 0px;">&nbsp;
    <button class="green" style="float: right; margin: 10px 15px 15px; min-width: 140px;" id="nextButton"
            onclick="window.location = '/';">
        Finish
    </button>
</div>

<script>

    var path = window.location.href;

    var startDate = (path.match(/start_date\=(\d{4}\-\d{2}\-\d{2})/) ? path.match(/start_date\=(\d{4}\-\d{2}\-\d{2})/)[1] : "");

    var endDate = (path.match(/end_date\=(\d{4}\-\d{2}\-\d{2})/) ? path.match(/end_date\=(\d{4}\-\d{2}\-\d{2})/)[1] : "");

    function __$(id) {

        return document.getElementById(id);

    }

    function ajaxRequest(url, id, callback) {

        var httpRequest = new XMLHttpRequest();

        httpRequest.onreadystatechange = function () {

            if (httpRequest.readyState == 4 && (httpRequest.status == 200 ||
                    httpRequest.status == 304)) {

                if (httpRequest.responseText.trim().length > 0) {
                    var result = JSON.parse(httpRequest.responseText);

                    callback(result, id);

                } else {

                    callback(undefined);

                }

            }

        };
        try {
            httpRequest.open("GET", url, true);
            httpRequest.send(null);
        } catch (e) {
        }

    }

    function loadData() {

        var links = {
            "new_registered_male": "/integrated_reports/new_registered_male?start_date=" + startDate + "&end_date=" + endDate,
            "cumulative_registered_male": "/integrated_reports/cumulative_registered_male?start_date=" + startDate + "&end_date=" + endDate,
            "new_registered_female": "/integrated_reports/new_registered_female?start_date=" + startDate + "&end_date=" + endDate,
            "cumulative_registered_female": "/integrated_reports/cumulative_registered_female?start_date=" + startDate + "&end_date=" + endDate,
            "new_registered_under_14": "/integrated_reports/new_registered_under_14?start_date=" + startDate + "&end_date=" + endDate,
            "cumulative_registered_under_14": "/integrated_reports/cumulative_registered_under_14?start_date=" + startDate + "&end_date=" + endDate,
            "new_registered_between_14_to_44": "/integrated_reports/new_registered_between_14_to_44?start_date=" + startDate + "&end_date=" + endDate,
            "cumulative_registered_between_14_to_44": "/integrated_reports/cumulative_registered_between_14_to_44?start_date=" + startDate + "&end_date=" + endDate,
            "new_registered_between_45_to_64": "/integrated_reports/new_registered_between_45_to_64?start_date=" + startDate + "&end_date=" + endDate,
            "cumulative_registered_between_45_to_64": "/integrated_reports/cumulative_registered_between_45_to_64?start_date=" + startDate + "&end_date=" + endDate,
            "new_registered_above_64": "/integrated_reports/new_registered_above_64?start_date=" + startDate + "&end_date=" + endDate,
            "cumulative_registered_above_64": "/integrated_reports/cumulative_registered_above_64?start_date=" + startDate + "&end_date=" + endDate,
            "new_diabetes_alone": "/integrated_reports/new_diabetes_alone?start_date=" + startDate + "&end_date=" + endDate
        }

        var keys = Object.keys(links);

        for(var i = 0; i < keys.length; i++) {

            var key = keys[i];

            ajaxRequest(links[key], key, function(data, id) {

                if(__$(id)) {

                    __$(id).innerHTML = data? data.total : "0";

                }

            })

        }

    }

    loadData();

</script>
</body>
</html>