<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Statistics</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
</head>
<body style="text-align: center; margin: 20px;" oncontextmenu="return false;">

<table width="100%" style="border: 0px solid #305d97; margin-top: 10px; font-size: 18px;" cellpadding="8"
       cellspacing="0">
    <thead>
        <tr style="color: #305d97;">
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;">
                &nbsp;
            </td>
            <th style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;">
                Today
            </th>
            <th style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;">
                This Month
            </th>
            <th style="border-bottom: 2px solid #305d97; width: 25%;">
                This Year
            </th>
        </tr>
    </thead>
    <tbody>
        <tr style="color: #305d97;">
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;">
                Male
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="male_today">
                &nbsp;
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="male_month">
                &nbsp;
            </td>
            <td style="border-bottom: 2px solid #305d97; width: 25%;" id="male_year">
                &nbsp;
            </td>
        </tr>
    </tbody>
        <tbody>
        <tr style="color: #305d97;">
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;">
                Female
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="female_today">
                &nbsp;
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="female_month">
                &nbsp;
            </td>
            <td style="border-bottom: 2px solid #305d97; width: 25%;" id="female_year">
                &nbsp;
            </td>
        </tr>
    </tbody>
</table>

<table width="100%" style="border: 0px solid #305d97; margin-top: 10px; font-size: 18px;" cellpadding="8"
       cellspacing="0">
    <thead>
        <tr style="color: #305d97;">
            <th colspan= "4": style="no-border: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;">
                CURRENT PATIENT STATISTICS
            </th>
        </tr>
    </thead>
        <tbody>
            <tr style="color: #305d97;">
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;">
                        VITAL SIGNS
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="vitals_today">
                &nbsp;
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="vitals_month">
                &nbsp;
            </td>
            <td style="border-bottom: 2px solid #305d97; width: 25%;" id="vitals_year">
                &nbsp;
            </td>
            </tr>
    </tbody>
    <tbody>
            <tr style="color: #305d97;">
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;">
                        LAB RESULTS
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="lab_results_today">
                &nbsp;
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="lab_results_month">
                &nbsp;
            </td>
            <td style="border-bottom: 2px solid #305d97; width: 25%;" id="lab_results_year">
                &nbsp;
            </td>
            </tr>
    </tbody>
    <tbody>
            <tr style="color: #305d97;">
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;">
                        TREATMENTS
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="treatments_today">
                &nbsp;
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="treatments_month">
                &nbsp;
            </td>
            <td style="border-bottom: 2px solid #305d97; width: 25%;" id="treatments_year">
                &nbsp;
            </td>
            </tr>
    </tbody>
    <tbody>
            <tr style="color: #305d97;">
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;">
                        UPDATE OUTCOME
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="update_outcome_today">
                &nbsp;
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="update_outcome_month">
                &nbsp;
            </td>
            <td style="border-bottom: 2px solid #305d97; width: 25%;" id="update_outcome_year">
                &nbsp;
            </td>
            </tr>
    </tbody>
    <tbody>
            <tr style="color: #305d97;">
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;">
                        HIV/ART STATUS
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="hiv_art_status_today">
                &nbsp;
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="hiv_art_status_month">
                &nbsp;
            </td>
            <td style="border-bottom: 2px solid #305d97; width: 25%;" id="hiv_art_status_year">
                &nbsp;
            </td>
            </tr>
    </tbody>
    <tbody>
            <tr style="color: #305d97;">
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;">
                        APPOINTMENT
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="appointment_today">
                &nbsp;
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="appointment_month">
                &nbsp;
            </td>
            <td style="border-bottom: 2px solid #305d97; width: 25%;" id="appointment_year">
                &nbsp;
            </td>
            </tr>
    </tbody>

</table>

<script>

"use strict"

if (Object.getOwnPropertyNames(Date.prototype).indexOf("format") < 0) {

    Object.defineProperty(Date.prototype, "format", {
        value: function (format) {
            var date = this;

            var result = "";

            if (!format) {

                format = ""

            }

            var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];

            var monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September",
                "October", "November", "December"];

            if (format.match(/YYYY\-mm\-dd\sHH\:\MM\:SS/)) {

                result = date.getFullYear() + "-" + padZeros((parseInt(date.getMonth()) + 1), 2) + "-" +
                        padZeros(date.getDate(), 2) + " " + padZeros(date.getHours(), 2) + ":" +
                        padZeros(date.getMinutes(), 2) + ":" + padZeros(date.getSeconds(), 2);

            } else if (format.match(/YYYY\-mm\-dd/)) {

                result = date.getFullYear() + "-" + padZeros((parseInt(date.getMonth()) + 1), 2) + "-" +
                        padZeros(date.getDate(), 2);

            } else if (format.match(/mmm\/d\/YYYY/)) {

                result = months[parseInt(date.getMonth())] + "/" + date.getDate() + "/" + date.getFullYear();

            } else if (format.match(/d\smmmm,\sYYYY/)) {

                result = date.getDate() + " " + monthNames[parseInt(date.getMonth())] + ", " + date.getFullYear();

            } else {

                result = date.getDate() + "/" + months[parseInt(date.getMonth())] + "/" + date.getFullYear();

            }

            return result;
        }
    });

}

function padZeros(number, positions) {
    var zeros = parseInt(positions) - String(number).length;
    var padded = "";

    for (var i = 0; i < zeros; i++) {
        padded += "0";
    }

    padded += String(number);

    return padded;
}

function __$(id) {

    return document.getElementById(id);

}

function getCookie(cname) {

    var name = cname + "=";
    var ca = document.cookie.split(';');
    for (var i = 0; i < ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
            c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
        }
    }
    return "";

}

function loadFields(){

    ajaxRequest("/ccc_report/overview?program=DIABETES+PROGRAM",undefined,function (data){

        if(data && Object.keys(data).indexOf("today") >= 0) {

            if(__$("male_today")) {

                __$("male_today").innerHTML = (data.today['M'] ? data.today['M'].length : 0);

            }

            if(__$("female_today")) {

                __$("female_today").innerHTML = (data.today['F'] ? data.today['F'].length : 0);

            }

        }

        if(data && Object.keys(data).indexOf("month") >= 0) {

            if(__$("male_month")) {

                __$("male_month").innerHTML = (data.month['M'] ? data.month['M'].length : 0);

            }

            if(__$("female_month")) {

                __$("female_month").innerHTML = (data.month['F'] ? data.month['F'].length : 0);

            }

        }

        if(data && Object.keys(data).indexOf("year") >= 0) {

            if(__$("male_year")) {

                __$("male_year").innerHTML = (data.year['M'] ? data.year['M'].length : 0);

            }

            if(__$("female_year")) {

                __$("female_year").innerHTML = (data.year['F'] ? data.year['F'].length : 0);

            }

        }

    });

ajaxRequest("/ccc_report/patient_stats?program="+encodeURIComponent("DIABETES PROGRAM"),undefined,function (data){

        if(data && Object.keys(data).indexOf("today") >= 0) {

            if(__$("vitals_today")) {

                __$("vitals_today").innerHTML = (data.today['VITALS'] ? data.today['VITALS'] : 0);

            }

            if(__$("lab_results_today")) {

                __$("lab_results_today").innerHTML = (data.today['LAB RESULTS'] ? data.today['LAB RESULTS'] : 0);
            }

            if(__$("hiv_art_status_today")) {

                __$("hiv_art_status_today").innerHTML = (data.today['HIV/ART STATUS'] ? data.today['HIV/ART STATUS'] : 0);

            }

            if(__$("treatments_today")) {

                __$("treatments_today").innerHTML = (data.today['TREATMENTS'] ? data.today['TREATMENTS'] : 0);

            }

            if(__$("update_outcome_today")) {

                __$("update_outcome_today").innerHTML = (data.today['UPDATE OUTCOME'] ? data.today['UPDATE OUTCOME'] : 0);

            }

            if(__$("appointment_today")) {

                __$("appointment_today").innerHTML = (data.today['APPOINTMENT'] ? data.today['APPOINTMENT'] : 0);

            }

        }

        if(data && Object.keys(data).indexOf("month") >= 0) {

            if(__$("vitals_month")) {

                __$("vitals_month").innerHTML = (data.today['VITALS'] ? data.today['VITALS'] : 0);

            }

            if(__$("lab_results_month")) {

                __$("lab_results_month").innerHTML = (data.today['LAB RESULTS'] ? data.today['LAB RESULTS'] : 0);
            }

            if(__$("hiv_art_status_month")) {

                __$("hiv_art_status_month").innerHTML = (data.today['HIV/ART STATUS'] ? data.today['HIV/ART STATUS'] : 0);

            }

            if(__$("treatments_month")) {

                __$("treatments_month").innerHTML = (data.today['TREATMENTS'] ? data.today['TREATMENTS'] : 0);

            }

            if(__$("update_outcome_month")) {

                __$("update_outcome_month").innerHTML = (data.today['UPDATE OUTCOME'] ? data.today['UPDATE OUTCOME'] : 0);

            }

            if(__$("appointment_month")) {

                __$("appointment_month").innerHTML = (data.today['APPOINTMENT'] ? data.today['APPOINTMENT'] : 0);

            }

        }
        if(data && Object.keys(data).indexOf("month") >= 0) {

            if(__$("vitals_year")) {

                __$("vitals_year").innerHTML = (data.today['VITALS'] ? data.today['VITALS'] : 0);

            }

            if(__$("lab_results_year")) {

                __$("lab_results_year").innerHTML = (data.today['LAB RESULTS'] ? data.today['LAB RESULTS'] : 0);
            }

            if(__$("hiv_art_status_year")) {

                __$("hiv_art_status_year").innerHTML = (data.today['HIV/ART STATUS'] ? data.today['HIV/ART STATUS'] : 0);

            }

            if(__$("treatments_year")) {

                __$("treatments_year").innerHTML = (data.today['TREATMENTS'] ? data.today['TREATMENTS'] : 0);

            }

            if(__$("update_outcome_year")) {

                __$("update_outcome_year").innerHTML = (data.today['UPDATE OUTCOME'] ? data.today['UPDATE OUTCOME'] : 0);

            }

            if(__$("appointment_year")) {

                __$("appointment_year").innerHTML = (data.today['APPOINTMENT'] ? data.today['APPOINTMENT'] : 0);

            }

        }

    });


}

function ajaxRequest(url, id, callback) {

    var httpRequest = new XMLHttpRequest();

    httpRequest.onreadystatechange = function () {

        if (httpRequest.readyState == 4 && (httpRequest.status == 200 ||
                httpRequest.status == 304)) {

            if (httpRequest.responseText.trim().length > 0) {
                var result = httpRequest.responseText;

                var json = JSON.parse(result);

                json.id = id;

                callback(json);

            } else {

                callback(undefined);

            }

        }

    };
    try {
        httpRequest.open("GET", url, true);
        httpRequest.send(null);
    } catch (e) {
    }

}

loadFields();

</script>

</body>
</html>