<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Statistics</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
</head>
<body style="text-align: center; margin: 20px;" oncontextmenu="return false;">

<table width="100%" style="border: 0px solid #305d97; margin-top: 10px; font-size: 18px;" cellpadding="8"
       cellspacing="0">
       <thead>
            <tr style="color: #305d97;">
                <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;">
                    &nbsp;
                </td>
                <th style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;">
                    Today
                </th>
                <th style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;">
                    This Month
                </th>
                <th style="border-bottom: 2px solid #305d97; width: 25%;">
                    This Year
                </th>
            </tr>
        </thead>
        <tbody id="overview">
            
        </tbody>

</table>

<script>

"use strict"

if (Object.getOwnPropertyNames(Date.prototype).indexOf("format") < 0) {

    Object.defineProperty(Date.prototype, "format", {
        value: function (format) {
            var date = this;

            var result = "";

            if (!format) {

                format = ""

            }

            var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];

            var monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September",
                "October", "November", "December"];

            if (format.match(/YYYY\-mm\-dd\sHH\:\MM\:SS/)) {

                result = date.getFullYear() + "-" + padZeros((parseInt(date.getMonth()) + 1), 2) + "-" +
                        padZeros(date.getDate(), 2) + " " + padZeros(date.getHours(), 2) + ":" +
                        padZeros(date.getMinutes(), 2) + ":" + padZeros(date.getSeconds(), 2);

            } else if (format.match(/YYYY\-mm\-dd/)) {

                result = date.getFullYear() + "-" + padZeros((parseInt(date.getMonth()) + 1), 2) + "-" +
                        padZeros(date.getDate(), 2);

            } else if (format.match(/mmm\/d\/YYYY/)) {

                result = months[parseInt(date.getMonth())] + "/" + date.getDate() + "/" + date.getFullYear();

            } else if (format.match(/d\smmmm,\sYYYY/)) {

                result = date.getDate() + " " + monthNames[parseInt(date.getMonth())] + ", " + date.getFullYear();

            } else {

                result = date.getDate() + "/" + months[parseInt(date.getMonth())] + "/" + date.getFullYear();

            }

            return result;
        }
    });

}

function padZeros(number, positions) {
    var zeros = parseInt(positions) - String(number).length;
    var padded = "";

    for (var i = 0; i < zeros; i++) {
        padded += "0";
    }

    padded += String(number);

    return padded;
}

function __$(id) {

    return document.getElementById(id);

}

function getCookie(cname) {

    var name = cname + "=";
    var ca = document.cookie.split(';');
    for (var i = 0; i < ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
            c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
        }
    }
    return "";

}

function loadFields(){

    var landing = window.parent.landing;

    var program = landing.getCookie("currentProgram");

    var username = landing.getCookie("username");

    var url = "http://localhost:3016/overview/"+program+"/"+username;

    ajaxRequest(url,null, function(data){

        var keys = Object.keys(data);

        var tbody = __$("overview");


        for(var i = 0; i < keys.length ; i++){

            var tr = document.createElement("tr");


            var td = document.createElement("td");

            td.setAttribute("style","border-right: 1px solid #305d97; color: #305d97; font-weight: bold; font-size: 16px;border-bottom: 1px solid #305d97; border-top: 1px solid #305d97;");

            td.innerHTML = keys[i];

            tr.appendChild(td);



            td = document.createElement("td");

            td.setAttribute("style","border-right: 1px solid #305d97; color: #305d97; font-weight: bold; font-size: 16px;border-bottom: 1px solid #305d97; border-top: 1px solid #305d97;");

            td.innerHTML = data[keys[i]].today;

            tr.appendChild(td);



            td = document.createElement("td");

            td.setAttribute("style","border-right: 1px solid #305d97; color: #305d97; font-weight: bold; font-size: 16px;border-bottom: 1px solid #305d97; border-top: 1px solid #305d97;");

            td.innerHTML = data[keys[i]].month;

            tr.appendChild(td);


            td = document.createElement("td");

            td.setAttribute("style","border-right: 1px solid #305d97; color: #305d97; font-weight: bold; font-size: 16px;border-bottom: 1px solid #305d97; border-top: 1px solid #305d97;");

            td.innerHTML = data[keys[i]].ever;

            tr.appendChild(td);

            tbody.appendChild(tr);


        }

    })




}

function ajaxRequest(url, id, callback) {

    var httpRequest = new XMLHttpRequest();

    httpRequest.onreadystatechange = function () {

        if (httpRequest.readyState == 4 && (httpRequest.status == 200 ||
                httpRequest.status == 304)) {

            if (httpRequest.responseText.trim().length > 0) {
                var result = httpRequest.responseText;

                var json = JSON.parse(result);

                json.id = id;

                callback(json);

            } else {

                callback(undefined);

            }

        }

    };
    try {
        httpRequest.open("GET", url, true);
        httpRequest.send(null);
    } catch (e) {
    }

}

loadFields();

</script>

</body>
</html>