<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Statistics</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
</head>
<style type="text/css">
    #head_table td{
        text-align: left;
        padding-left: 1%;
    }
</style>
<body style="text-align: center; margin: 20px;" oncontextmenu="return false;">

<table width="100%" id="head_table">
    <tr >
        <td>NCD Patient Card<br/><span style="font-size:0.8em;background:lightgrey">Green Card</span></td>
        <td>Epilepsy</td>
        <td>Version 1</td>
        <td>Transfer-In Date</td>
        <td style="border:1px solid black;width:15%"></td>
        <td>NCD Reg no</td>
        <td style="border:1px solid black;width:15%"></td>
        <td>Year</td>
        <td style="border:1px solid black;width:15%"></td>
    </tr>

</table>
<table width="100%">
    <tr >
        <td>Patient / Gardian Details</td>
        <td>Seizure Type</td>
    </tr>
    <tr >
        <td>Patient Name</td>
        <td></td>
        <td>Y</td>
        <td>N</td>
        <td>Tonic Clonic</td>
        <td>Y</td>
        <td>N</td>
        <td>Clonic</td>
        <td>Y</td>
        <td>N</td>
        <td>Simple</td>
    </tr>

</table>
</body>
</html>