<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Statistics</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
</head>
<style type="text/css">
    body{
        font-size: 0.9em;
    }
    #head_table td{
        text-align: left;
        padding-left: 1%;
    }
  
    .card{
        margin-top:2%;
        border: 1px solid;
        border-collapse: collapse;
    }
    .card th, .card td  {
        border: 1px solid;
        font-size: 0.9em;
        padding: 0.4em;
        text-align: left;
        
    }
    td.rotate {
      /* Something you can count on */
      height: 140px;
      white-space: nowrap;
    }

    td.rotate > div {
      transform: 
        /* Magic Numbers */
        translate(0px, 51px)
        /* 45 is really 360 - 90 */
        rotate(270deg);
      width: 30px;
    }
    td.rotate > div > span {
      padding: 5px 10px;
    }
    
</style>
<body style="text-align: center; margin: 20px;" oncontextmenu="return false;">

<table width="100%" id="head_table">
    <tr >
        <td>NCD Patient Card<br/><span style="font-size:0.8em;background:lightgreen">Green Card</span></td>
        <td>Epilepsy</td>
        <td>Version 1</td>
        <td>Transfer-In Date</td>
        <td style="border:1px solid black;width:12%"></td>
        <td>NCD Reg no</td>
        <td style="border:1px solid black;width:12%"></td>
        <td>Year</td>
        <td style="border:1px solid black;width:12%"></td>
    </tr>

</table>
<table width="100%" class="card">
    <tr >
        <th colspan="4">Patient / Gardian Details</th>
        <th colspan="9">Seizure Type</th>
    </tr>
    <tr >
        <td>Patient Name</td>
        <td colspan="3"></td>
        <td>Y</td>
        <td>N</td>
        <td>Tonic Clonic</td>
        <td>Y</td>
        <td>N</td>
        <td>Clonic</td>
        <td>Y</td>
        <td>N</td>
        <td>Simple</td>
    </tr>
    <tr >
        <td>Sex DOB</td>
        <td>M</td>
        <td>F</td>
        <td>DOB/Age:</td>
        <td>Y</td>
        <td>N</td>
        <td>Absence</td>
        <td>Y</td>
        <td>N</td>
        <td>Tonic</td>
        <td>Y</td>
        <td>N</td>
        <td>Complex</td>
    </tr>
    <tr >
        <td rowspan="2">Physical Address</td>
        <td colspan="3"></td>
        <td>Y</td>
        <td>N</td>
        <td>Myclonic</td>
        <td>Y</td>
        <td>N</td>
        <td>Atonic</td>
        <td>Y</td>
        <td>N</td>
        <td>Unclassified</td>
    </tr>
    <tr >
        <td colspan="3"></td>
        <th colspan="4">Family History</th>
        <th colspan="3">R NR HIV Status</th>
        <th colspan="2">ART Start Date:</th>
    </tr>
    <tr >
        <td>Patient Phone</td>
        <td colspan="3"></td>
        <td rowspan="2">Y</td>
        <td rowspan="2">N</td>
        <td rowspan="2">Unk</td>
        <td rowspan="2">Epilepsy</td>
        <td rowspan="2">R</td>
        <td rowspan="2">NR</td>
        <td rowspan="2">U</td>
        <td colspan="2" rowspan="2">VDRL</td>
    </tr>
    <tr >
        <td>Guardian Name</td>
        <td colspan="3"></td>
    </tr>
    <tr >
        <td>Guardian Phone</td>
        <td></td>
        <td colspan="2">Relation to Patient</td>
        <td>Y</td>
        <td>N</td>
        <td>Unk</td>
        <td>Mental Illness</td>
    </tr>
    <tr >
        <td>Agree to FUP</td>
        <td>N Y</td>
        <td colspan="2"></td>
        <td>Y</td>
        <td>N</td>
        <td>Unk</td>
        <td>Behaviour Problem</td>
    </tr>
</table>
<table  width="100%" class="card">
    <tr>
        <th colspan="14">Patient History at Enrollment</th>
        <th colspan="3">Patient Overview</th>
    </tr>
    <tr>
        <td colspan="3">Date of onset (MM/YYY)</td>
        <td colspan="3"></td>
        <th colspan="8">Medical and Surgical Histrory</th>
        <th colspan="3">Exposures</th>
    </tr>
    <tr>
        <td colspan="3">Age at onset (in years)</td>
        <td colspan="3"></td>
        <td>Y</td>
        <td>N</td>
        <td>Unk</td>
        <td colspan="5">Head Injury/Trauma/Head surgery</td>
        <td></td>
        <td>Smoking</td>
        <td>Date:</td>
    </tr>
    <tr>
        <td colspan="3">Marital Status</td>
        <td colspan="3"></td>
        <td>Y</td>
        <td>N</td>
        <td>Unk</td>
        <td colspan="5">History of Seizure</td>
        <td></td>
        <td>Alcohol</td>
        <td>Date:</td>
    </tr>
    <tr>
        <td colspan="3">Occupationd</td>
        <td colspan="3"></td>
        <td>Y</td>
        <td>N</td>
        <td>Unk</td>
        <td colspan="5">Complications at Birth</td>
        <td></td>
        <td>Pigs/Pork</td>
        <td>Date:</td>
    </tr>
    <tr>
        <td colspan="3">Education Level</td>
        <td colspan="3"></td>
        <td>Y</td>
        <td>N</td>
        <td>Unk</td>
        <td colspan="5">Neonatal Infection/Cerenral Malaria/Meningitis</td>
        <td></td>
        <td>Traditional Medicine</td>
        <td>Date:</td>
    </tr>
    <tr>
        <td colspan="6" rowspan="2">Medcation History:(including traditional medicine)</td>
        <td>Y</td>
        <td>N</td>
        <td>Unk</td>
        <td colspan="5">Delayed milestones in early childhood</td>
        <td></td>
        <td>Other</td>
        <td>Date:</td>
    </tr>
    <tr>
        <th colspan="8">Triggers</th>
        <th colspan="3">Complications</th>
    </tr>
    <tr>
        <td>Y</td>
        <td>N</td>
        <td>Unk</td>
        <th colspan="3">Pre-ictal Warning</th>
        <td>Y</td>
        <td>N</td>
        <td>Unk</td>
        <td>Alcohol</td>
        <td>Y</td>
        <td>N</td>
        <td>Unk</td>
        <td>Fever</td>
        <td></td>
        <td>Injuries</td>
        <td>Date:</td>
    </tr>
    <tr>
        <th colspan="3">Post-ictal features</th>
        <td>Y</td>
        <td>N</td>
        <td>Paralysis</td>
        <td>Y</td>
        <td>N</td>
        <td>Unk</td>
        <td colspan="5">Sounds/ Light /Touch</td>
        <td></td>
        <td>Burns</td>
        <td>Date:</td>
    </tr>
    <tr>
        <td>Y</td>
        <td>N</td>
        <td>Headache</td>
        <td>Y</td>
        <td>N</td>
        <td>Disorientation</td>
        <td>Y</td>
        <td>N</td>
        <td>Unk</td>
        <td colspan="5">Emotional Stress/ Anger/ Boredom</td>
        <td></td>
        <td>Status Epilepticus</td>
        <td>Date:</td>
    </tr>
    <tr>
        <td>Y</td>
        <td>N</td>
        <td>Drowsiness</td>
        <td>Y</td>
        <td>N</td>
        <td>Nausea</td>
        <td>Y</td>
        <td>N</td>
        <td>Unk</td>
        <td colspan="5">Sleep deprivation/Overtiredness</td>
        <td></td>
        <td>Psychosis</td>
        <td>Date:</td>
    </tr>
    <tr>
        <td>Y</td>
        <td>N</td>
        <td>Poor concentration</td>
        <td>Y</td>
        <td>N</td>
        <td>Memory</td>
        <td>Y</td>
        <td>N</td>
        <td>Unk</td>
        <td colspan="5">Missed medication</td>
        <td></td>
        <td>Drug Related</td>
        <td>Date:</td>
    </tr>
    <tr>
        <td>Y</td>
        <td>N</td>
        <td>Poor verbal or cognitive skills </td>
        <td>Y</td>
        <td>N</td>
        <td>Hyperativity</td>
        <td>Y</td>
        <td>N</td>
        <td>Unk</td>
        <td colspan="5">Menstruation(For women of reproductive age)</td>
        <td></td>
        <td>Other</td>
        <td>Date:</td>
    </tr>
</table>
<table width="100%" class="card">
    <tr>
        <td rowspan="2">Visit date</td>
        <td rowspan="2">WT (Kg)</td>
        <td rowspan="2">BMI</td>
        <td colspan="3">Seizure Activity</td>
        <td colspan="7">Seizure Trigger</td>
        <td colspan="2">Silent Markers</td>
        <td rowspan="2" class="rotate"><div><span>Hospital</span></div></td>
        <td rowspan="2" class="rotate"><div><span>Pregnant</span></div></td>
        <td rowspan="2" class="rotate"><div><span>On family Planing</span></div></td>
        <td colspan="5">Treatment Details</td>
        <td rowspan="2">Next Appointment</td>
        <td rowspan="2">Comments</td>
    </tr>
    <tr>
        <td class="rotate"><div><span>Seizure since last visit </span></div></td>
        <td class="rotate"><div><span>Number of Seizure</span></div></td>
        <td class="rotate"><div><span>Any Triggers</span></div></td>
        <td class="rotate"><div><span>Alcohol </span></div></td>
        <td class="rotate"><div><span>Sleep deprivation </span></div></td>
        <td class="rotate"><div><span>Missed medication </span></div></td>
        <td class="rotate"><div><span>Sound/ Light / Touch</span></div></td>
        <td class="rotate"><div><span>Fever</span></div></td>
        <td class="rotate"><div><span>Stress</span></div></td>
        <td class="rotate"><div><span>Menstruation </span></div></td>
        <td class="rotate"><div><span>Tongue Biting</span></div></td>
        <td class="rotate"><div><span>Incontinence</span></div></td>
        <td class="rotate"><div><span>Carbamazepine</span></div></td>
        <td class="rotate"><div><span>Phenobarbitone</span></div></td>
        <td class="rotate"><div><span>Phenytoin</span></div></td>
        <td class="rotate"><div><span>Sodium valproate</span></div></td>
        <td class="rotate"><div><span>Other</span></div></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
<table width="100%" style="margin-bottom:2%;margin-top:2%">
    <tr>
        <th>Outcome:</th>
        <td>Discharge / Default / Stop Tx / Transfer Out</td>
        <td>Date:</td>
    </tr>
    <tr>
        <td>Notes</td>
        <td colspan="2"></td>
    </tr>
    <tr >
        <td colspan="3" style="border-bottom: 1px dotted;height:25px"></td>
    </tr>
    <tr >
        <td colspan="3" style="border-bottom: 1px dotted;height:25px"></td>
    </tr>
    <tr >
        <td colspan="3" style="border-bottom: 1px dotted;height:25px"></td>
    </tr>
    <tr >
        <td colspan="3" style="border-bottom: 1px dotted;height:25px"></td>
    </tr>
</table>
</body>
</html>