<!DOCTYPE html>
<html
<head lang="en">
    <meta charset="UTF-8">
    <title>Epilepsy Card</title>
    <link rel="stylesheet" href="/touchscreentoolkit/lib/stylesheets/touch-fancy.css" type="text/css">
    <script type="text/javascript" src="/javascripts/epilepsy.js"></script>
</head>

<style type="text/css">
    body{
        font-size: 0.9em;
    }
    #head_table td{
        text-align: left;
        padding-left: 1%;
    }
  
    .card{
        margin-top:2%;
        border: 1px solid;
        border-collapse: collapse;
    }
    .card th, .card td  {
        border: 1px solid;
        font-size: 0.9em;
        padding: 0.4em;
        text-align: left;
        
    }
    td.rotate {
      /* Something you can count on */
      height: 140px;
      white-space: nowrap;
    }

    td.rotate > div {
      transform: 
        /* Magic Numbers */
        translate(0px, 51px)
        /* 45 is really 360 - 90 */
        rotate(270deg);
      width: 30px;
    }
    td.rotate > div > span {
      padding: 5px 10px;
    }
    .circle{
        display: block;
        width: 23px;
        height: 23px;
        padding: 2%;
        border: 2px solid #99ff99;
        text-align: center;
        border-radius: 50%;
    }
    .square{
        display: block;
        width: 13px;
        height: 13px;
        border: 2px solid black;
        padding: 2%;
        text-align: center;

    }
    
</style>
<body oncontextmenu="return false;" style="margin: 0px;">
<div id="divMain" style="background-color: #99ff99; overflow: auto; height: calc(100vh - 75px); padding-left:1%; padding-right:1%">
<table width="100%" id="head_table" style="margin-top:1%">
    <tr >
        <th style="text-align:left">NCD Patient Card<br/><span style="font-size:0.8em;background:lightgreen">Green Card</span></th>
        <th style="text-align:left">Epilepsy</th>
        <td>Version 1</td>
        <td>Transfer-In Date</td>
        <td style="border:1px solid black;width:12%;text-align:center" id="transfer_in_date"></td>
        <td>NCD Reg no</td>
        <td style="border:1px solid black;width:12%;text-align:center" id="ncd_reg_no"></td>
        <td>Year</td>
        <td style="border:1px solid black;width:12%;text-align:center" id="year"></td>
    </tr>

</table>
<table width="100%" class="card">
    <tr >
        <th colspan="4">Patient / Gardian Details</th>
        <th colspan="9">Seizure Type</th>
    </tr>
    <tr >
        <td>Patient Name</td>
        <td colspan="3" id="patient_name"></td>
        <td> <span class="circle" id="tonic_clonic_yes">Y</span></td>
        <td><span class="circle" id="tonic_clonic_no">N</span></td>
        <td>Tonic Clonic</td>
        <td><span class="circle" id="clonic_yes">Y</span></td>
        <td><span class="circle" id="clonic_no">N</span></td>
        <td>Clonic</td>
        <td><span class="circle" id="simple_yes">Y</span></td>
        <td><span class="circle" id="simple_no">N</span></td>
        <td>Simple</td>
    </tr>
    <tr >
        <td>Sex DOB</td>
        <td><span class="circle" id="male">M</span></td>
        <td><span class="circle" id="female">F</span></td>
        <td>DOB/Age: <span id="dob"></span></td>
        <td><span class="circle" id="absence_yes">Y</span></td>
        <td><span class="circle" id="absence_no">N</span></td>
        <td>Absence</td>
        <td><span class="circle" id="tonic_yes">Y</span></td>
        <td><span class="circle" id="tonic_no">N</span></td>
        <td>Tonic</td>
        <td><span class="circle" id="complex_yes">Y</span></td>
        <td><span class="circle" id="complex_no">N</span></td>
        <td>Complex</td>
    </tr>
    <tr >
        <td rowspan="2">Physical Address</td>
        <td colspan="3" id="address"></td>
        <td ><span class="circle" id="myclonic_yes">Y</span></td>
        <td ><span class="circle" id="myclonic_no">N</span></td>
        <td>Myclonic</td>
        <td><span class="circle" id="atonic_yes">Y</span></td>
        <td><span class="circle" id="atonic_no">N</span></td>
        <td>Atonic</td>
        <td><span class="circle" id="unclassified_yes">Y</span></td>
        <td><span class="circle" id="unclassified_no">N</span></td>
        <td>Unclassified</td>
    </tr>
    <tr >
        <td colspan="3"></td>
        <th colspan="4">Family History</th>
        <th><span class="circle" id="r">R</span></th><th><span class="circle" id="nr">NR</span></th><th> HIV Status</th>
        <th colspan="2">ART Start Date: <span id="date_antiretrovirals_started"></span></th>
    </tr>
    <tr >
        <td>Patient Phone</td>
        <td colspan="3"></td>
        <td rowspan="2"><span class="circle" id="epilepsy_yes">Y</span></td>
        <td rowspan="2"><span class="circle" id="epilepsy_no">N</span></td>
        <td rowspan="2"><span class="circle" id="epilepsy_unk">Unk</span></td>
        <td rowspan="2">Epilepsy</td>
        <th rowspan="2"><span class="circle" id="vdrlr">R</span></th>
        <th rowspan="2"><span class="circle" id="vdrlnr">NR</span></th>
        <th rowspan="2"><span class="circle" id="vdrlu">U</span></th>
        <th colspan="2" rowspan="2">VDRL</th>
    </tr>
    <tr >
        <td>Guardian Name</td>
        <td colspan="3" id="guardian_name"></td>
    </tr>
    <tr >
        <td>Guardian Phone</td>
        <td id="guardian_phone"></td>
        <td colspan="2"><b>Relation to Patient: </b><span id="relation_to_patient"></span></td>
        <td><span class="circle" id="mental_illness_yes">Y</span></td>
        <td><span class="circle" id="mental_illness_no">N</span></td>
        <td><span class="circle" id="mental_illness_unk">Unk</span></td>
        <td>Mental Illness</td>
    </tr>
    <tr >
        <td>Agree to FUP</td>
        <td>N Y</td>
        <td colspan="2"></td>
        <td><span class="circle" id="behaviour_problems_yes">Y</span></td>
        <td><span class ="circle" id="behaviour_problems_no">N</span></td>
        <td><span class="circle" id="behaviour_problems_unk"> Unk</span></td>
        <td>Behaviour Problem</td>
    </tr>
</table>
<table  width="100%" class="card">
    <tr>
        <th colspan="14">Patient History at Enrollment</th>
        <th colspan="3">Patient Overview</th>
    </tr>
    <tr>
        <td colspan="3">Date of onset (MM/YYY)</td>
        <td colspan="3" id="date_of_onset"></td>
        <th colspan="8">Medical and Surgical Histrory</th>
        <th colspan="3">Exposures</th>
    </tr>
    <tr>
        <td colspan="3">Age at onset (in years)</td>
        <td colspan="3" id="age_at_onset"></td>
        <td><span class="circle" id="head_injury_trauma_head_surgery_yes">Y</span></td>
        <td><span class="circle" id="head_injury_trauma_head_surgery_no">N</span></td>
        <td><span class="circle" id="head_injury_trauma_head_surgery_unk">Unk</span></td>
        <td colspan="5">Head Injury/Trauma/Head surgery</td>
        <td><span class="square" id="smoking_exposures"></span></td>
        <td>Smoking</td>
        <td>Date: <span id="smoking_date"></span></td>
    </tr>
    <tr>
        <td colspan="3">Marital Status</td>
        <td colspan="3" id="marital_status"></td>
        <td><span class="circle" id="seizure_yes">Y</span></td>
        <td><span class="circle" id="seizure_no">N</span></td>
        <td><span class="circle" id="seizure_unk">Unk</span></td>
        <td colspan="5">History of Seizure</td>
        <td><span class="square" id="alcohol_exposures"></span></td>
        <td>Alcohol</td>
        <td>Date: <span id="alcohol_date"></span></td>
    </tr>
    <tr>
        <td colspan="3">Occupation</td>
        <td colspan="3" id="main_activity"></td>
        <td><span class="circle" id="complications_at_birth_yes">Y</span></td>
        <td><span class="circle" id="complications_at_birth_no">N</span></td>
        <td><span class="circle" id="complications_at_birth_unk">Unk</span></td>
        <td colspan="5">Complications at Birth</td>
        <td><span class="square" id="pigs_pork_exposures"></span></td>
        <td>Pigs/Pork</td>
        <td>Date: <span id="pigs_pork_date" ></span></td>
    </tr>
    <tr>
        <td colspan="3">Education Level</td>
        <td colspan="3" id="highest_level_of_school_completed"></td>
        <td><span class="circle" id="neonatal_infection_cerebral_malaria_meningitis_yes">Y</span></td>
        <td><span class="circle" id="neonatal_infection_cerebral_malaria_meningitis_no">N</span></td>
        <td><span class="circle" id="neonatal_infection_cerebral_malaria_meningitis_unk">Unk</span></td>
        <td colspan="5">Neonatal Infection/Cerebral Malaria/Meningitis</td>
        <td><span class="square" id="traditional_medicine_exposures"></span></td>
        <td>Traditional Medicine</td>
        <td>Date: <span id="traditional_medicine_date"></span></td>
    </tr>
    <tr>
        <td colspan="6" rowspan="2">Medication History:(including traditional medicine): <span id="medication_history"></span></td>
        <td><span class="circle" id="delayed_milestones_in_early_childhood_yes">Y</span></td>
        <td><span class="circle" id="delayed_milestones_in_early_childhood_no">N</span></td>
        <td><span class="circle" id="delayed_milestones_in_early_childhood_unk">Unk</span></td>
        <td colspan="5">Delayed milestones in early childhood</td>
        <td><span class="square" id="other_exposures"></span></td>
        <td>Other</td>
        <td>Date: <span id="other_exposures_date"></span></td>
    </tr>
    <tr>
        <th colspan="8">Triggers</th>
        <th colspan="3">Complications</th>
    </tr>
    <tr>
        <td><span class="circle" id="pre_ictal_warning_yes">Y</span></td>
        <td><span class="circle" id="pre_ictal_warning_no">N</span></td>
        <td><span class="circle" id="pre_ictal_warning_unk">Unk</span></td>d>
        <th colspan="3">Pre-ictal Warning</th>
        <td><span class="circle" id="alcohol_yes">Y</span></td>
        <td><span class="circle" id="alcohol_no">N</span></td>
        <td><span class="circle" id="alcohol_unk">Unk</span></td>
        <td>Alcohol</td>
        <td><span class="circle" id="fever_yes">Y</span></td>
        <td><span class="circle" id="fever_no">N</span></td>
        <td><span class="circle" id="fever_unk">Unk</span></td>
        <td>Fever</td>
        <td><span class="square" id="injuries_complications"></span></td>
        <td>Injuries</td>
        <td>Date: <span id="injuries_date"></span></td>
    </tr>
    <tr>
        <th colspan="3">Post-ictal features</th>
        <td><span class="circle" id="paralysis_yes">Y</span></td>
        <td><span class="circle" id="paralysis_no">N</span></td>
        <td>Paralysis</td>
        <td><span class="circle" id="sound_light_touch_yes">Y</span></td>
        <td><span class="circle" id="sound_light_touch_no">N</span></td>
        <td><span class="circle" id="sound_light_touch_unk">Unk</span></td>
        <td colspan="5">Sounds/ Light /Touch</td>
        <td><span class="square" id="burns_complications"></td>
        <td>Burns</td>
        <td>Date: <span id="burns_date"></span></td>
    </tr>
    <tr>
        <td><span class="circle" id="headache_yes">Y</span></td>
        <td><span class="circle" id="headache_no">N</span></td>
        <td>Headache</td>
        <td><span class="circle" id="disorientation_yes">Y</span></td>
        <td><span class="circle" id="disorientation_no">N</span></td>
        <td>Disorientation</td>
        <td><span class="circle" id="emotional_stress_anger_boredom_yes">Y</span></td>
        <td><span class="circle" id="emotional_stress_anger_boredom_no">N</span></td>
        <td><span class="circle" id="emotional_stress_anger_boredom_unk">Unk</span></td>
        <td colspan="5">Emotional Stress/ Anger/ Boredom</td>
        <td><span class="square" id="status_epilepticus_complications"></td>
        <td>Status Epilepticus</td>
        <td>Date:<span id="status_epilepticus_date"></span></td>
    </tr>
    <tr>
        <td><span class="circle" id="drowsiness_yes">Y</span></td>
        <td><span class="circle" id="drowsiness_no">N</span></td>
        <td>Drowsiness</td>
        <td><span class="circle" id="nausea_yes">Y</span></td>
        <td><span class="circle" id="nausea_no">N</span></td>
        <td>Nausea</td>
        <td><span class="circle" id="sleep_deprivation_overtiredness_yes">Y</span></td>
        <td><span class="circle" id="sleep_deprivation_overtiredness_no">N</span></td>
        <td><span class="circle" id="sleep_deprivation_overtiredness_unk">Unk</span></td>
        <td colspan="5">Sleep deprivation/Overtiredness</td>
        <td><span class="square" id="psychosis_complications"></td>
        <td>Psychosis</td>
        <td>Date: <span id="psychosis_date"></span></td>
    </tr>
    <tr>
        <td><span class="circle" id="poor_concentration_yes">Y</span></td>
        <td><span class="circle" id="poor_concentration_no">N</span></td>
        <td>Poor concentration</td>
        <td><span class="circle" id="memory_loss_yes">Y</span></td>
        <td><span class="circle" id="memory_loss_no">N</span></td>
        <td>Memory Loss</td>
        <td><span class="circle" id="missed_medication_yes">Y</span></td>
        <td><span class="circle" id="missed_medication_no">N</span></td>
        <td><span class="circle" id="missed_medication_unk">Unk</span></td>
        <td colspan="5">Missed medication</td>
        <td><span class="square" id="drug_related_complications"></span></td>
        <td>Drug Related</td>
        <td>Date: <span id="drug_related_date"></span></td>
    </tr>
    <tr>
        <td><span class="circle" id="poor_verbal_or_cognitive_skills_yes">Y</span></td>
        <td><span class="circle" id="poor_verbal_or_cognitive_skills_no">N</span></td>
        <td>Poor verbal or cognitive skills </td>
        <td><span class="circle" id="hyperactivity_yes">Y</span></td>
        <td><span class="circle" id="hyperactivity_no">N</span></td>
        <td>Hyperativity</td>
        <td><span class="circle" id="menstruation_yes">Y</span></td>
        <td><span class="circle" id="menstruation_no">N</span></td>
        <td><span class="circle" id="menstruation_unk">Unk</span></td>
        <td colspan="5">Menstruation(For women of reproductive age)</td>
        <td><span class="square" id="other_complications"></span></td>
        <td>Other</td>
        <td>Date: <span id="other_date"></span></td>
    </tr>
</table>
<table width="100%" class="card" id="visits">
 <thead>
    <tr>
        <td rowspan="2">Visit date</td>
        <td rowspan="2">WT (Kg)</td>
        <td rowspan="2">BMI</td>
        <td colspan="3">Seizure Activity</td>
        <td colspan="7">Seizure Trigger</td>
        <td colspan="2">Silent Markers</td>
        <td rowspan="2" class="rotate"><div><span>Hospital</span></div></td>
        <td rowspan="2" class="rotate"><div><span>Pregnant</span></div></td>
        <td rowspan="2" class="rotate"><div><span>On family Planing</span></div></td>
        <td colspan="5">Treatment Details</td>
        <td rowspan="2">Next Appointment</td>
        <td rowspan="2">Comments</td>
    </tr>
    <tr>
        <td class="rotate"><div><span>Seizure since last visit </span></div></td>
        <td class="rotate"><div><span>Number of Seizure</span></div></td>
        <td class="rotate"><div><span>Any Triggers</span></div></td>
        <td class="rotate"><div><span>Alcohol </span></div></td>
        <td class="rotate"><div><span>Sleep deprivation </span></div></td>
        <td class="rotate"><div><span>Missed medication </span></div></td>
        <td class="rotate"><div><span>Sound/ Light / Touch</span></div></td>
        <td class="rotate"><div><span>Fever</span></div></td>
        <td class="rotate"><div><span>Stress</span></div></td>
        <td class="rotate"><div><span>Menstruation </span></div></td>
        <td class="rotate"><div><span>Tongue Biting</span></div></td>
        <td class="rotate"><div><span>Incontinence</span></div></td>
        <td class="rotate"><div><span>Carbamazepine</span></div></td>
        <td class="rotate"><div><span>Phenobarbitone</span></div></td>
        <td class="rotate"><div><span>Phenytoin</span></div></td>
        <td class="rotate"><div><span>Sodium valproate</span></div></td>
        <td class="rotate"><div><span>Other</span></div></td>
    </tr>
    </thead>
    <tbody id="visit_body">
        
    </tbody>
</table>
<table width="40%" style="margin-top:2%">
    <tr>
        <th style="text-align:left">Outcome:</th>
        <td id="discharge" style="text-align:center">Discharge </td> <td id="default" style="text-align:center"> Default </td> <td id="treatment_stopped" style="text-align:center"> Stop Tx </td><td id="transfer_out" style="text-align:center"> Transfer Out</td>
        <td>Date: <span id="outcome_date"></span></td>
    </tr>
</table>
<table width="100%" style="margin-top:2%;margin-bottom:2%">
     <tr>
        <th style="text-align:left">Notes:</th>
        <td colspan="9"></td>
    </tr>
    <tr >
        <td id="notes" colspan="10" style="border-bottom: 1px dotted;height:25px"></td>
    </tr>
</table>
</div>
<script type="text/javascript">
    loadCardDashboard();
        //loadCardData();
</script>
<div style="background-color: rgb(51, 51, 51); height: 80px; overflow: hidden; padding: 0px;">&nbsp;
    <button class="green" style="float: right; margin: 10px 15px 15px; min-width: 140px;" id="nextButton"
            onclick="window.parent.dashboard.exitNavPanel();">
        Finish
    </button>
</div>
</body>

</html>