<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Hypertension Master Card</title>
    <link rel="stylesheet" href="/touchscreentoolkit/lib/stylesheets/touch-fancy.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
    <script type="text/javascript" src="/javascripts/htn.js"></script>
</head>
<style type="text/css">
    .card {
        border: 2px solid black;
    }
    .card{
        margin-top:2%;
        border: 1px solid;
        border-collapse: collapse;
        width: 100%;
    }
    .card thead{
        border: 1px solid;
    }
    .card th{
        background: #6281a7;
        color: #ffffff;


    }
    .card th, .card td  {
        border: 1px solid;
        font-size: 0.9em;
        padding: 0.4em;
        
    }
    .card td{
        text-align: left;
        width: 30%;
    }
</style>
<body oncontextmenu="return false;" style="margin: 0px;">
<div id="divMain" style="overflow: auto; height: calc(100vh - 80px); padding-left:1%; padding-right:1%">
<table class="card">
    <thead>
        <tr>
            <th style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;">
                Registered
            </th>
            <th style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;">
                New Registered in Quarter
            </th>
            <th style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;">
                Ever Registered
            </th>
        </tr>
    </thead>
    <tboby>
        <tr>
            <td style="border-right: 1px solid #305d97; border-left: 2px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;">
                Total
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="quartery_total">
                &nbsp;
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="total_registered">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td style="border-right: 1px solid #305d97; border-left: 2px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;">
                Male
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="quartery_registered_male">
                &nbsp;
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="total_registered_male">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td style="border-right: 1px solid #305d97; border-left: 2px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;">
                Female
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="quartery_registered_female">
                &nbsp;
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="total_registered_female">
                &nbsp;
            </td>
        </tr>
    </tboby>
</table>

<table class="card">
    <thead>
        <tr>
            <th> &nbsp; </th>
            <th colspan="2">Confirmed Epilepsy</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="border-right: 1px solid #305d97; border-left: 2px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;">
                Generalised Seizure
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="quartery_generalised_seizure">
                &nbsp;
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="total_generalised_seizure">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td style="border-right: 1px solid #305d97; border-left: 2px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;">
                Focal/Partial Seizure
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="quartery_fp_seizure">
                &nbsp;
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="total_fp_seizure">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td style="border-right: 1px solid #305d97; border-left: 2px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;">
                Not Confirmed
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="quartery_not_confirmed">
                &nbsp;
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="total_not_confirmed">
                &nbsp;
            </td>
        </tr>
    </tbody>
</table>

<table class="card">
    <thead>
        <tr>
            <th> &nbsp; </th>
            <th colspan="2">Diagnosis of those epileptic</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="border-right: 1px solid #305d97; border-left: 2px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;">
                Tonic Clonic
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="quartery_tonic_clonic">
                &nbsp;
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="total_tonic_clonic">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td style="border-right: 1px solid #305d97; border-left: 2px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;">
                Absence
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="quartery_absence">
                &nbsp;
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="total_absence">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td style="border-right: 1px solid #305d97; border-left: 2px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;">
                Chlonic
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="quartery_chlonic">
                &nbsp;
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="total_chlonic">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td style="border-right: 1px solid #305d97; border-left: 2px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;">
                Myclonic
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="quartery_myclonic">
                &nbsp;
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="total_myclonic">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td style="border-right: 1px solid #305d97; border-left: 2px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;">
                Atomic
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="quartery_atomic">
                &nbsp;
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="total_atomic">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td style="border-right: 1px solid #305d97; border-left: 2px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;">
                Simplex
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="quartery_simplex">
                &nbsp;
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="total_simplex">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td style="border-right: 1px solid #305d97; border-left: 2px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;">
                Complex
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="quartery_complex">
                &nbsp;
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="total_complex">
                &nbsp;
            </td>
        </tr>
    </tbody>
</table>

<table class="card">
    <thead>
        <tr>
            <th> &nbsp; </th>
            <th colspan="2">Diagnosis of those non epileptic</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="border-right: 1px solid #305d97; border-left: 2px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;">
                Syncope
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="quartery_syncope">
                &nbsp;
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="total_syncope">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td style="border-right: 1px solid #305d97; border-left: 2px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;">
                Febrile seizure
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="quartery_febrile">
                &nbsp;
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="total_febrile">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td style="border-right: 1px solid #305d97; border-left: 2px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;">
                Psychogenic
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="quartery_psychogenic">
                &nbsp;
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="total_psychogenic">
                &nbsp;
            </td>
        </tr>
    </tbody>
</table>

<table class="card">
    <thead>
        <tr>
            <th> &nbsp </th>
            <th colspan="2">Complications of Those Who are Alive and on Treatment</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="border-right: 1px solid #305d97; border-left: 2px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;">
                Burns
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="quartery_burns">
                &nbsp;
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="total_burns">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td style="border-right: 1px solid #305d97; border-left: 2px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;">
                Injuries
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="quartery_injuries">
                &nbsp;
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="total_injuries">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td style="border-right: 1px solid #305d97; border-left: 2px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;">
                Psychosis
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="quartery_psychosis">
                &nbsp;
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="total_psychosis">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td style="border-right: 1px solid #305d97; border-left: 2px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;">
                Hyperactivity
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="quartery_hyperactivity">
                &nbsp;
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="total_hyperactivity">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td style="border-right: 1px solid #305d97; border-left: 2px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;">
                Status Epilepictus
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="quartery_epilepictus">
                &nbsp;
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="total_epilepictus">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td style="border-right: 1px solid #305d97; border-left: 2px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;">
                Drug related
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="quartery_drug_related">
                &nbsp;
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="total_drug_related">
                &nbsp;
            </td>
        </tr>
    </tbody>
</table>

<table class="card">
    <thead>
        <tr>
            <th> &nbsp; </th>
            <th colspan="2">TB Status of All Patients Registered</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="border-right: 1px solid #305d97; border-left: 2px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;">
                TB Status Known
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="quartery_status_shown">
                &nbsp;
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="total_status_shown">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td style="border-right: 1px solid #305d97; border-left: 2px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;">
                TB Ever
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="quartery_tb">
                &nbsp;
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="total_tb">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td style="border-right: 1px solid #305d97; border-left: 2px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;">
                TB Since Diabetes Diagnosis
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="quartery_tb_since">
                &nbsp;
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="total_tb_since"></td>
        </tr>
        <tr>
            <td style="border-right: 1px solid #305d97; border-left: 2px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;">
                No TB
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="quartery_no_tb">
                &nbsp;
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="total_no_tb">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td style="border-right: 1px solid #305d97; border-left: 2px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;">
                TB Status Unknown
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="quartery_tb_status">
                &nbsp;
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="total_tb_status">
                &nbsp;
            </td>
        </tr>
    </tbody>
</table>


<table class="card">
    <thead>
        <tr>
            <th> &nbsp; </th>
            <th colspan="2">HIV Status of All Patient Registered</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="border-right: 1px solid #305d97; border-left: 2px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;">
                Reactive Not on ART
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="quartery_reactive_not_on_art">
                &nbsp;
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="total_reactive_not_on_art">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td style="border-right: 1px solid #305d97; border-left: 2px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;">
                Reactive on ART
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="quartery_reactive_on_art">
                &nbsp;
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="total_reactive_on_art">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td style="border-right: 1px solid #305d97; border-left: 2px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;">
                Non Reactive
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="quartery_non_reactive">
                &nbsp;
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="total_non_reactive">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td style="border-right: 1px solid #305d97; border-left: 2px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;">
                Unknown
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="quartery_unknown">
                &nbsp;
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="total_unknown">
                &nbsp;
            </td>
        </tr>
    </tbody>
</table>

<table class="card">
    <thead>
        <tr>
            <th> &nbsp; </th>
            <th colspan="2">Outcomes</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="border-right: 1px solid #305d97; border-left: 2px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;">
                Alive and on treatment
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="quartery_alive_on_treatment">
                &nbsp;
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="total_alive_on_treatment">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td style="border-right: 1px solid #305d97; border-left: 2px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;">
                Dead
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="quartery_dead">
                &nbsp;
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="total_dead">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td style="border-right: 1px solid #305d97; border-left: 2px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;">
                Defaulters
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="quartery_defaulters">
                &nbsp;
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="total_defaulters">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td style="border-right: 1px solid #305d97; border-left: 2px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;">
                Tranfer Out
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="quartery_transfer_out">
                &nbsp;
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="total_transfer_out">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td style="border-right: 1px solid #305d97; border-left: 2px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;">
                Stop Treatment
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="quartery_stop_treatment">
                &nbsp;
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="total_stop_treatment">
                &nbsp;
            </td>
        </tr>
    </tbody>
</table>

</div>
</body>

</html>